<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>VUE</title>

</head>
<body>
<!-- 	<div id="app">
		<p>{{ message }}</p>
		<input type="text" v-model="message"/>
	</div> -->
<!-- 	<div id="app">
		<ul>
			<li v-for="n in pageConunt">
				<a href="javascript:void(0)" v-bind:class="activeNumber === n ? 'active':''">{{ n }}</a>
			</li>
		</ul>
	</div> -->
<!-- 	<div id="app">
		<fieldset>
			<legend>
				Create New Person
			</legend>
			<div class="form-group">
				<label>Name:</label>
				<input type="text" v-model="newPerson.name"/>
			</div>

		</fieldset>
	</div> -->
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	// var exampleData={
	// 	message:'hello world!'
	// }
	// new Vue({
	// 	el:'#app',
	// 	data:exampleData
	// })
	
	// var vm=new Vue({
	// 	el:'#app',
	// 	data:{
	// 		activeNumber:1,
	// 		pageConunt:10
	// 	}
	// })

</script>
</html>